body {
    height: 100%;
    margin: 0 auto;
    line-height: 1.6;
    background: #f1f1f1;
}
header {
    padding: 0.5%;
    background: #0077ff; 
    color: white;
    font-size: 140%
}
header i{
    font-size: 140%;
    margin-left: 10%;
}
.ordInput{
    margin-left: 30px;
}

#ordDentro{
    background: #0077ff;
    margin-left: 40%;
    width: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white
}
#dadosEntrada{
    height: 100%;
    width: 35%;
    padding: 10px;
    margin: 8% 35% 8% 35%;  
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.40);
    background-color: #fff;  
}

input[type='file'] {
  display: none
}
/* Aparência que terá o seletor de arquivo */
label {
  background-color: #0077ff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px
}
#btnexecutar{
    display: none;
}

#btnexecutar {
  
  background-color: #0077ff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 10px
}
#voltarbtn{
    float: right;
    margin-left: 350px;
}
#btnvoltar {
    float: left;
    background-color: red ;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 10px
  }

#btnImp {
  
  background-color: #0077ff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 10px
}



#btnDigi {
  
  background-color: #0077ff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 10px
}
#btnRec {
  
    background-color: #fd0e0e;
    border-radius: 5px;
    color: rgb(253, 253, 253);
    cursor: pointer;
    margin: 10px;
    padding: 6px 10px
  }
  
  #btnDist {
  
    background-color: #0077ff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 10px
  }


#escolha{
    width: 100%;
    background-color: #fff;
    font-size: 12px;   
}
#digitar{
    display: none;
    
}
#importar{
    display: none;
    
}

input {
    margin-left: 0 auto;
	margin-bottom:10px;
	border:1px solid #999;
    border-radius:3px;
}

input:focus {
	border:1px solid #ccc;
	outline:none;
}

#tabelaDados{
    border: 2px solid #0077ff;
    width: 100%;
    margin-left: 1%;
    margin-top: 3%;
    /* float: left; */
}

#resolucaoCalculos{
    padding-bottom: 75%;
    width: 80%;
    height: auto;
    margin: 0 10%;
    line-height: 30px;  
    color: black;
    text-align: center;
}


#tabDados{
    padding-bottom: 50%
    float: left;
    margin: 1% 0% 0% 0%;
    text-align: left;
    border: solid 1px black;
    color: black;
    background: white
}

#tabDados table,#tabDados th ,#tabDados tr,#tabDados td{

    align:center;

    border-radius: 5px;
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
    text-align: center;
    padding: 1px;
    
}




#Results{
    color: black;
    position: relative;
    display: inline;
    float: left;
    margin: 1% 0% 0% 1%;
    display: inline;
    text-align: left

}





th{
    background: #e3e6eb;
}

/* table{
    width: 100%;
} */



#divContinua{
    margin: 1% 0% 0% 1%;
    float: left;
}
#divGrafico{
    margin: 4% 0% 0% 4%;

}

#container{
    background: transparent;
    width: 40%;
    height: 300px;
    float: left;
}

footer{
    margin: 5% 0% 0% 4%;

    width: 100%;
    position: fixed;
    background: #0077ff;
    color: #fff;
    text-align: center;
    padding: 0.5%;

}

#footerDiscreta{
    background: #0077ff;
    color: #fff;
    text-align: center;
    padding: 0.5%;
}